/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-optical-sizing: auto;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding-top: 130px;
    --tw-bg-opacity: 1;
    background-color: rgb(19 19 19 / var(--tw-bg-opacity));
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-image: url('space.webp');
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
}

/* Header Styles */
header {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02em;
    color: white;
    padding: 20px 0;
    text-align: center;
    top: 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation Styles */
nav {
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: text-shadow 0.3s ease;
}

nav ul li a:hover {
    text-shadow: 3px 3px 8px rgba(24, 199, 65, 0.889);
}

/* Main Styles */
main {
    background: white;
    padding: 20px;
    margin-top: 20px;
    /* Ensure it doesn't overlap with the fixed header and nav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    /* Ajusta el valor para redondear las esquinas */
}


section {
    margin-bottom: 20px;
}

section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.8em;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

section h3 {
    color: #34495e;
    margin-bottom: 10px;
    font-size: 1.4em;
}

section p {
    margin-bottom: 10px;
}

section ul {
    list-style: disc;
    margin-left: 20px;
}

section ul li {
    margin-bottom: 5px;
}

/* Footer Styles */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: 20px;
}