/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color:white;
}

/* Full height layout */
html, body {
    height: 100%; /* Asegura que el html y body ocupen al menos el 100% de la altura del viewport */
    min-height: 100vh; /* Asegura que siempre sea al menos igual a la altura del viewport */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Roboto Slab", serif;
    color: #333;
    line-height: 1.6;
    background-color: rgb(19 19 19 / 1);
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

/* Header */
.header {
    background-image: url('./assets/space.webp');
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto; /* Cambiado de fit-content a auto */
    min-height: 100px; /* Altura mínima ajustable según el contenido */
    display: flex;
    flex-direction: column; /* O 'row', dependiendo de tu diseño */
    justify-content: center; /* Alinea el contenido verticalmente */
    align-items: center; /* Alinea el contenido horizontalmente */
    padding: 20px; /* Asegúrate de tener suficiente espacio interior */
    box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
    z-index: 1000; /* Mantiene el header sobre otros elementos */
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.8em;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}

section h3 {
    color: #34495e;
    margin-bottom: 10px;
    font-size: 1.4em;
}

section p {
    margin-bottom: 10px;
}

section ul {
    list-style: disc;
    margin-left: 20px;
}

section ul li {
    margin-bottom: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Main Content */
main {
    flex-grow: 1; /* Permite que el main crezca para ocupar el espacio disponible */
    background: white;
    padding: 20px;
    margin-top: 130px; /* Ajusta según la altura del header */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* Navigation Styles */
nav {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    width: 100%; /* Asegura que la navegación use todo el ancho disponible */
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de la lista uniformemente */
    padding: 0;
    list-style: none;
}

nav ul li a {
    color: white;
    padding: 10px 15px; /* Ajusta el padding según sea necesario */
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Footer Styles */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Empuja el pie de página hacia abajo */
}

.content-wrapper {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    justify-content: space-between; /* Separa los elementos horizontalmente */
}

.text-content {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    padding-right: 20px; /* Añade espacio entre el texto y la imagen */
}

.image-content {
    flex: 1; /* Ocupa la mitad del espacio disponible */
    text-align: center; /* Centra la imagen dentro del div */
}

.image-content img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 10px; /* Ajusta este valor para aumentar o disminuir el redondeo de las esquinas */
}